<section class="how-its-made-section" id="how-its-made">
  <h2 class="how-its-made-title">
    How its<span class="costum-orange-text">made?</span>
  </h2>
  <div class="video-wrapper">
    <span class="video-box">
      <video controls src="./images/video.mp4"></video>
    </span>
    <span class="video-description">
      <h3 class="video-description-title">
        Try our chocolates today and discover the perfect balance of flavor
      </h3>
      <ul class="description-list">
        <li class="list">
          <!-- <svg class="icon-bullet">
            <use src="../images/icons.svg#icon-checkmark"></use>
          </svg> -->
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>

        <li class="list">
          At the same time, prepare a water bath. Melt the butter on it.
        </li>

        <li class="list">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>

        <li class="list">
          Heat the mixture over low heat, letting it barely boil.
        </li>

        <li class="list">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </span>
  </div>
</section>
