<section id="top-sellers" class="top-sellers">
  <div class="top-sellers-container">
    <title>TOP SELLERS</title>
    <h2 class="top-sellers-title">
      Top <span class="orange-text">sellers</span>
    </h2>
    <ul class="top-sellers-image-wrapper">
      <li class="top-sellers-first-picture">
        <picture>
          <source
            srcset="
              ./images/top-sellers-first-d-1x.webp,
              ./images/top-sellers-first-d-2x.webp
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/top-sellers-first-t-1x.webp,
              ./images/top-sellers-first-t-2x.webp
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/top-sellers-first-m-1x.webp,
              ./images/top-sellers-first-m-2x.webp
            "
            media="(max-width: 320px)"
          />
          <img
            src="./images/top-sellers-first-d-1x.webp"
            alt="rasberry-icecream"
          />
        </picture>
        <span class="top-sellers-text-area"
          >Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the
          Mayans.</span
        >
      </li>
      <li class="top-sellers-second-picture">
        <picture>
          <source
            srcset="
              ./images/top-sellers-second-d-1x.webp,
              ./images/top-sellers-second-d-2x.webp
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/top-sellers-second-t-1x.webp,
              ./images/top-sellers-second-t-2x.webp
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/top-sellers-second-m-1x.webp,
              ./images/top-sellers-second-m-2x.webp
            "
            media="(max-width: 320px)"
          />
          <img
            src="./images/top-sellers-second-d-1x.webp"
            alt="rasberry-icecream"
          />
        </picture>
      </li>
      <li class="top-sellers-third-picture">
        <picture>
          <source
            srcset="
              ./images/top-sellers-third-d-1x.webp,
              ./images/top-sellers-third-d-2x.webp
            "
            media="(min-width: 1280px)"
          />

          <img
            src="./images/top-sellers-third-d-1x.webp"
            alt="rasberry-icecream"
          />
        </picture>
      </li>
    </ul>
<span class="top-sellers-btn-wrapper">
    <button class="top-sellers-buy-now-btn">Buy now</button>
</span>
    
  </div>
</section>
