<section class="unique-section">
  <div class="unique-text-area">
    <span class="title-unique-section">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="taste-color">TASTE</span> SENSATIONS
    </span>
    <p class="paragraph-unique-section">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
  </div>

  <ul class="product-cards">
    <li class="card-presentation orange">
      <div class="front">
        <picture>
          <source
            srcset="
              ./images/chocolate-bar-d-1x.webp,
              ./images/chocolate-bar-d-2x.webp
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/chocolate-bar-m-1x.webp,
              ./images/chocolate-bar-m-2x.webp
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/chocolate-bar-m-1x.webp,
              ./images/chocolate-bar-m-2x.webp
            "
            media="(max-width: 320px)"
          />
          <img
            class="default-pic"
            src="./images/chocolate-bar-d-1x.webp"
            alt="chocolate bar"
          />
        </picture>
        <p class="card-title">MILK CHOCOLATE</p>
      </div>

      <div class="back">
        <span class="title-section">
          <p class="title">Milk chocolate</p>
          <p class="buttons">
            <button class="button orange">chocolate</button>
            <button class="button">the benefits</button>
          </p>
        </span>
        <p class="back-paragraph">
          Milk chocolate is a solid chocolate confectionery containing cocoa,
          sugar and milk. It is the most consumed type of chocolate. Chocolate
          was originally sold and consumed as a beverage in pre-Columbian times.
          Although four-fifths of all milk chocolate is sold in the United
          States and Europe.
        </p>
      </div>
    </li>

    <li class="card-presentation">
      <div class="front">
        <picture>
          <source
            srcset="
              ./images/milk-bottle-d-1x.webp,
              ./images/milk-bottle-d-2x.webp
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/milk-bottle-m-1x.webp,
              ./images/milk-bottle-m-2x.webp
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/milk-bottle-m-1x.webp,
              ./images/milk-bottle-m-2x.webp
            "
            media="(max-width: 320px)"
          />
          <img
            class="default-pic"
            src="./images/milk-bottle-d-1x.webp"
            alt="milk bottle"
          />
        </picture>
        <p class="card-title">MILK</p>
      </div>

      <div class="back">
        <span class="title-section">
          <p class="title">Milk</p>
          <p class="buttons">
            <button class="button orange">milk</button>
            <button class="button">the benefits</button>
          </p>
        </span>
        <p class="back-paragraph">
          Milk is a white liquid food produced by the mammary glands of mammals.
          It is the primary source of nutrition for young mammals (including
          breastfed human infants) before they are able to digest solid
          food.Early-lactation milk, which is called colostrum, contains
          antibodies that strengthen the immune system.
        </p>
      </div>
    </li>

    <li class="card-presentation marine">
      <div class="front">
        <picture>
          <source
            srcset="./images/nuts-d-1x.webp, ./images/nuts-d-2x.webp"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/nuts-m-1x.webp, ./images/nuts-m-2x.webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="./images/nuts-m-1x.webp, ./images/nuts-m-2x.webp"
            media="(max-width: 320px)"
          />
          <img
            class="default-pic"
            src="./images/nuts-d-1x.webp"
            alt="chocolate nuts"
          />
        </picture>
        <p class="card-title">NUTS</p>
      </div>

      <div class="back">
        <span class="title-section">
          <p class="title">Nuts</p>
          <p class="buttons">
            <button class="button orange">nuts</button>
            <button class="button">the benefits</button>
          </p>
        </span>
        <p class="back-paragraph">
          Almonds, pistachios, and walnuts are some types of nuts that contain
          healthy nutrients. When eaten as part of a nutrient-dense diet, these
          9 nuts may offer benefits such as reducing your risk of heart disease.
          They’re a good source of fiber, healthy fats, and plant protein. Plus,
          they’re great on their own.
        </p>
      </div>
    </li>

    <li class="card-presentation">
      <div class="front">
        <picture>
          <source
            srcset="
              ./images/chocolate-beans-d-1x.webp,
              ./images/chocolate-beans-d-2x.webp
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/chocolate-beans-m-1x.webp,
              ./images/chocolate-beans-m-2x.webp
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/chocolate-beans-m-1x.webp,
              ./images/chocolate-beans-m-2x.webp
            "
            media="(max-width: 320px)"
          />
          <img
            class="default-pic"
            src="./images/chocolate-beans-d-1x.webp"
            alt="chocolate beans"
          />
        </picture>
        <p class="card-title">SEMI - SWEET CHOCOLATE</p>
      </div>

      <div class="back">
        <span class="title-section">
          <p class="title">semi - sweet chocolate</p>
          <p class="buttons">
            <button class="button orange">sweet chocolate</button>
            <button class="button">the benefits</button>
          </p>
        </span>
        <p class="back-paragraph">
          Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
          the best ways to gain an understanding of this type of chocolate is to
          compare it to a different type of chocolate. Semisweet is darker than
          milk chocolate. In a taste comparison, it has a slightly bitter taste
          whereas milk chocolate is sweeter.
        </p>
      </div>
    </li>
  </ul>
</section>
